port: 8000
timeout: 5s
newrelic:
  appname: example
  enabled: false
  license: "<key>"
db:
  connectionstring: "postgres://postgres@localhost:5432/db"
  migrationspath: "file:///path/to/server/migrations"
